
@media only screen and (max-width: 400px) {
  * {
    font-size: 14px; 
  }


  .MuiTypography-root, .MuiButton-root {
    font-size: 14px; 
  }

}

.profile-container {
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  padding-bottom: 60px;
  
}

.profile-title {
  font-size: 24px;
  font-weight: bold;
}

.settingsContainer {
  position:relative;
}


.settingsButton {
  position: absolute;
  top: 16px;
  right: 16px;
}





