
@media only screen and (max-width: 400px) {
  * {
    font-size: 14px; 
  }


  .MuiTypography-root, .MuiButton-root {
    font-size: 14px; 
  }

}

.profileContainer {
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  padding-bottom: 60px;
  
}

.profilePaper  {
  background-color: aliceblue;
}

.settingsContainer {
  position:relative;

}


.settingsButton {
  position: absolute;
  top: -505x;
  right: -150px;
}

