/* Setzt den Box-Sizing-Stil für das gesamte Dokument */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #1DAA82;
  --primaryLight: #E4EEEB;
  --secondary:#a5a6f6;
  --tertiary: #ff0101;
  --backgroundColour: #e8e4e4;
  --error: #e7195a;
  --primaryFont: black;
  --secondaryFont: gray;
}

#root {
  height: 100% !important;
}

#root>.App {
  height: 100% !important;
}

header {
  background: #fff;
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #333;
  text-decoration: none;
}
.pages{
  max-width: 1400px;
  padding: 0px;
  margin: 0 auto;
}

/* Entfernt Standard-Margins und setzt die Schriftgröße für bessere Kontrolle */
html, body {
    margin: 0;
    height: 100%;
    font-family: 'Arial', sans-serif; /* Verwenden Sie eine Web-sichere Schriftart oder importieren Sie eine benutzerdefinierte Schriftart */
    font-size: 16px; /* Standardgröße für Text */
    line-height: 1.5; /* Zeilenhöhe für bessere Lesbarkeit */
    color: #333; /* Dunkelgrau für Text */
    background-color: var(--backgroundColour);
    color: var(--primaryFont) !important;
}

/* Hilft, die Breite des Viewports zu kontrollieren und verhindert unerwünschtes Zoomen */
meta[name="viewport"] {
    content: "width=device-width, initial-scale=1";
}

/* Setzt grundlegende interaktive Elemente auf eine leicht zugängliche Weise */
a {
    color: #0066cc; /* Blau für Links */
    text-decoration: none; /* Keine Unterstreichung */
}

a:hover,
a:focus {
    text-decoration: underline; /* Unterstreicht Links beim Überfahren/Hover */
}


/* Responsive Container, die den Inhalt zentrieren */
.container {
    width: 90%; /* Nutzt 90% der Breite des Viewports */
    margin: 0 auto; /* Zentriert den Container horizontal */
}

/* Media Query für Tablets und Desktops */
@media (min-width: 768px) {
    .container {
        width: 750px; /* Feste Breite für Tablets */
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px; /* Feste Breite für Desktops */
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px; /* Feste Breite für größere Desktops */
    }
}

.body{
  background-color: var(--backgroundColour);
}


/*MealSize page*/
.mealSizeForm {
  display: flex;
  flex-direction: column;
  align-items: center; 
  width: 100%;
  justify-content: center;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px; 
  overflow: hidden;  /*keeps image in rounded container*/
  max-width: 20vh;       
  max-height: 30vh;  
  margin-top:4vh;    
}

#addMealImageMealSize {
  width: 100%;
  height: 100%;
  object-fit: cover; /*covers whole container */
}



/* AddMeal Page (and MealSize)*/
.addMealHead{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--primaryLight);
  border-bottom-left-radius: 70px;
  border-bottom-right-radius: 70px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  font-size: xx-large;
  padding-bottom: 2vh;
}

.addMealHead>.occasionTitle {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
  z-index:2;
}

.addMealDate {
  color: grey !important;
  font-size: large;
  margin-top: 0;
  font-weight: bold;
}

#addMealImage {
  padding-top: 3vh;
  max-height: 30vh;
}

.content {
  display: flex;
  flex-direction: column;
  background-color: var(--backgroundColour);
  justify-content: center;
  align-items: center;
  height: 100%;
}

.addMealData {
  display: flex;
  width: 60%;
  color: black;
  margin-bottom:  5vh;
  margin-top: 2vh;
}

.addMealData>.description{
  align-items: left;
  width: 50%;
}

.addMealData>.description>div, .addMealData>.data>div{
  width: fit-content;
}

.addMealData>.data{
  display: flex;
  flex-direction: column;

  align-items: flex-end;
  width: 50%;
}

.addMealHead>div {
  color: black;

}

.addMealForm {
  display: flex;
  flex-direction: row;
  width: 80%;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  background-color: var(--primaryLight);
  color: black;
  padding: 2vh;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.changeForm {
  margin-left: 1vw;
  margin-right: 1vw;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.changeForm>input {
  margin-left: 2vw;
  margin-right: 2vw;
}

.changeForm>select {
  height: 100%;
}

.changeForm>button {
  display: flex;
  height: 80%;
  align-items: center;
  margin-left: 1vw;
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}

#dialog {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 80%;
  font-size: small;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#addMealDialog {
  margin-top: 5px;
  color: black;
  
}

#dialogUnit {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-bottom: 5x;
  min-height: 30px;
}


/* CSS for OcassionMeals */
.occasionHead{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: var(--primaryLight);
  height: 10vh;
  border-bottom-left-radius: 70px;
  border-bottom-right-radius: 70px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  font-size: xx-large;
  margin-left: 0px !important;
}

.occasionHead>.text {
  margin-top: 5px;
  font-size: xx-large;
  margin-bottom: 0px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.occasionHead>.scanButton {
  background-color: var(--primary);
}

.occasionSearchBlock {
  position: fixed;
  bottom:6vh;
  width:100vw;
  height:10vh;
  background-color:#fff;
  z-index: 1;
}

.qrIcon {
  margin-top: 10px;
  font-size: 250% !important;
  font-weight: bold;
  margin-right: 6.5vw;
}

.occasionSearchDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -20px;
}

.occasionSearchDiv>.searchbar {
  background-color: white;
}

.occasionMealList {
  margin-top: 3vh;
  width: 90%;
  background-color: white;

  border-radius: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 10vh;
}

.occasionList>li {
  height: 15vh;
  border-bottom: 1px solid lightgray;
  list-style: none;
}

.occasionList>li:last-child {
  border-bottom: none;
}

.occasionMealListItem>.imageDiv {
  width: 30%;
  height: 12.5vh;
  margin-right: 2vh;
  position: relative;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;  /*keeps image in rounded container*/
}

.occasionMealListItem>div>img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}


/* QR Code Modal*/
.modal {
  color: grey !important;
}

.modaloccasion {
  position: fixed;
  bottom: 8vh;
  right: 4vw;
}

/* Login */
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.signInContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

#signInLabel, #signInLabelSub {
  text-align: center;
}

#signInLabel {
  font-size: 24px;
  color: #333;
  margin-bottom: 5px;
}

#signInLabelSub {
  font-size: 16px;
  color: #666;
}

#logo {
  width: 100px;
  height: 100px;
  background: url('./images/logo.jpg') no-repeat center center;
  background-size: contain;
  margin-bottom: 20px;
}

#signInDiv {
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 8px;
}


/* Profile */
@media only screen and (max-width: 400px) {
  * {
    font-size: 14px; 
  }

  .MuiTypography-root, .MuiButton-root {
    font-size: 14px; 
  }
}

.profileContainer {
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  padding-bottom: 60px;
  position: relative;  
}

.settingsButtonContainer {
  width: 100%;
  background-color: #0066cc;
  position:relative;
}

.trying {
  height:10px;
  width: 10px;
  position: absolute;
  top: 10px;
  right: 10px; 
}



.profileDataContainer{
  margin-top: 3vh;
  width: 90%;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.profileHeader {
  width: 100%;
  text-align: center; 
}

.profileGridItem {
  border-bottom: 1px solid lightgray;
  height: 7vh;
}

.profileForm {
  color: var(--primaryFont) !important;
  font-weight: bold;
  text-align: left;
}

.profileData{
  color: var(--secondaryFont);
  text-align: right;
}

.editButton .MuiButton-contained {
  /* background-color: var(--secondary) !important;
  color: white; */
}

.logOutButton .MuiButton-outlined {
  /* color: var(--secondary) !important;
  border-color: var(--secondary); */
  margin-bottom: 40px;
}

/*Home*/
.HomeIconContainer{
  width: 14vh;
  height: 14vh;
  position: absolute;
  right: -6vh; 
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.multiProgressArrowLeft {
  height:140px;
  width:140px;
}

.multiProgressProgress {
  height:140px;
  width:140px; 
}

.multiProgressArrowRight {
  height:140px;
  width:140px;
}

#OccasionDatum {
  font-size: x-large;
  margin: 0px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  z-index: 2;
}


#OccasionDatum {
  color: black !important;
}

#occasionTitle {
  color: black !important;
}

.s-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px; 
  overflow: hidden;  /*keeps image in rounded container*/
  width: 40%;    
  height: 70%;  
  margin-top:0.5vh;   
}

.s-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure images cover the container while maintaining aspect ratio */
}
  
/* CSS for statistics */
.statisticHead {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--primaryLight);
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  font-size: xx-large;
}

.statisticTitle {
  margin-top: 2vh !important;
  font-weight: bold !important;
  font-size: large !important;
}

.statisticDescription {
  margin-bottom: 2vh !important;
}

.statisticChart {
  margin-left: -4vw;
  font-size: small;
}

.statisticTabsRoot>div>div {
  display: flex;
  flex-wrap: wrap;
  margin-top: 6vh;
  margin-left: 6%;
  margin-right: 6%;
}

.tab {
  flex: 1 1 38%;
  background-color: var(--primary) !important;
  border-radius: 20px !important;
  color: black !important;
  margin-left: 3% !important;
  margin-right: 3% !important;
  margin-bottom: 1vh !important;
  font-weight: bold !important;
}

.tab.Mui-selected {
  background-color: var(--primaryLight) !important;
  border: 1px solid var(--primary) !important;
}

.statisticTimeButton {
  margin-top: 3vh;
}

.statisticTimeButton>button {
  font-weight: bold !important;
}

.statisticTimeButton>.left {
  border-bottom-left-radius: 70px;
}

.statisticTimeButton>.right {
  border-bottom-right-radius: 70px;
}